*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header-section{
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('images/truck_highway.PNG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.banner-text{
    margin :100px 0;
    margin-right: 200px;
    color:white;

    h1{
        font-size: 60px;
        width: 500px;
    }
    p{
        font-size: 25px;
        margin-top:10px;
        width: 500px;
    }
}
.banner-btn{
    margin-top: 20px;
    font-size: 60px;    
}
.innovation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innovation-section-text{
    background-color: darkred;
    height: 530px;
    width:700;
    
     clip-path: polygon(
                         0% 0%,    /* top-left */
                        100% 0%,  /* top-right */
                        90% 100%,/* bottom-right */
                        0% 100%   /* bottom-left */
                             );
                                    
}
.innovation-text{
    padding: 100px;
    color:white;
    width: 830px;
    h1{
        font-size: 40px;
        margin: 20px 0;
    }
    p{
        font-size: 20px;
        margin-top: 20px;
        line-height: 20px;
        width: 400px;
        
    }
}
.innovation-img img{
    width: 640px;
}
.innovation-line{
    width: 50px;
    height: 2px;
    background-color: white;
}
.innovation-btn{
    margin-top: 20px;

}
.innovation-btn button{
    padding: 10px 30px;
    background-color: darkred;
    color: white;
    font-size:18px;
    border: 1px solid white;

}
.innovation-btn button:hover{
    border:none;
}

.models{
    display: flex;
    justify-content: center;
    align-items: start;
    padding:50px 100px;
    column-gap:20px;
}
.model{
    h1{
        font-size: 40px;
        color:darkred;
    }
    p{
        font-size: 18px;
        color:gray;
        line-height: 25px;
        width: 400px;
        word-spacing: 2px;
    }
}
.model-line{
    width: 50px;
    height: 2px;
    background-color: darkred;
    margin: 20px 0;
}
.model-btn{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    
}
.model-btn button{
    padding: 10px 30px;
    background-color: darkred;
    color:white;
    border: 2px solid white;

}
.alternative-fuel{
    display: flex;
    justify-content: center;
    align-items:start;
    width: 100%;
}
.fuel-image img{
    width: 700px;
    height: 650px;
}
.fuel-text{
    background-color: rgb(35, 33, 33);
    color:white;
    height: 700px;
    padding:  100px;
     clip-path: polygon(
                         0% 0%,    /* top-left */
                        100% 0%,  /* top-right */
                        100% 100%,/* bottom-right */
                        10% 100%   /* bottom-left */
                             );

    h2{
        font-size: 30px;
        font-weight: 400;
    }
    h1{
        font-size: 40px;
        font-weight: 400;
        margin-top:20px;
    }
    p{
        font-size: 20px;
        line-height: 25px;
    }
}
.fuel-line{
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}
.fuel-btn{
    margin-top:30px;

}
.fuel-btn button{
    padding:10px 30px;
    background-color:rgb(35, 33, 33) ;
    color:white;
    border:2px solid white;
}
.fuel-btn button:hover{
    border:none;
}
.truck-technology{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:30px 0;
    background-color:gainsboro;
    align-items: center;
    h1{
        color:darkred;
    }
}
.tech-line{
    width: 50px;
    text-indent: 40px;
    height: 2px;
    margin: 20px;
    background-color: darkred;
}
.technology{
    display: flex;
    column-gap: 20px;
}
.tech-truck{
    background-color: white;

    h3{
        margin: 20px ;
    }
}

.Durability{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Durability-section-text{
    background-color: darkred;
    height: 540px;
   width: 800px;
    
     clip-path: polygon(
                         0% 0%,    /* top-left */
                        100% 0%,  /* top-right */
                        90% 100%,/* bottom-right */
                        0% 100%   /* bottom-left */
                             );
                                    
}
.Durability-text{
    padding: 100px;
    color:white;
    width: 700px;
    h2{
        font-weight: 400;
    }
    h1{
        font-size: 40px;
        margin: 20px 0;
        font-weight: 400;
    }
    p{
        font-size: 20px;
        margin-top: 20px;
        line-height: 20px;
        width: 400px;
        
    }
}
.Durability-img img{
    height: 530px;
    width: 700px;
}
.Durability-line{
    width: 50px;
    height: 2px;
    background-color: white;
}
.Durability-btn{
    margin-top: 20px;

}
.Durability-btn button{
    padding: 10px 30px;
    background-color: darkred;
    color: white;
    font-size:18px;
    border: 1px solid white;

}
.Durability-btn button:hover{
    border:none;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    row-gap: 40px;
    background-color: gainsboro;
    h1{
        font-size:40px;
        color:darkred;
    }
}
.gallery-line{
    width: 50px;
    height:2px;
    background-color: darkred;
}
.gallery-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.gal-image img{
    width: 400px;
    height: 400px;
}
.gal-btn button{
    padding:10px 30px;
    background-color: gainsboro;
    color:black;
    font-size: 20px;
    border: 2px solid black;
}
.gal-btn button:hover{
    border:2px solid gainsboro;
}
.history{
    display: flex;
    justify-content: center;
    align-items: start;
    padding:50px 200px;
    column-gap: 30px;

}
.history-image img{
    width: 400px;
    height: 400px;
}
.history-text{
     width: 700px;
    height: 400px;
    padding: 20px;
    h1{
        font-size: 40px;
        color:darkred;
    }
    p{
        font-size: 18px;
        color:gray;
        word-spacing: 3px;
        line-height: 25px;
    }
    h4{
        font-size: 20px;
        color: gray;
        margin-top:30px;
    }

}
.history-line{
    width: 50px;
    height: 2px;
    background-color: darkred;
    margin: 30px 0;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:40px;
    padding-top:50px;
      h1{
        font-size: 40px;
        color:darkred;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        word-spacing: 2px;
        width: 700px;
    }

}
.about-line{
    width: 50px;
    height: 2px;
    background-color: darkred;
  
}
.about-image img{width: 700px;}

footer{
    background-color: gainsboro;
    padding-top: 50px;
}
.footer-options{
    border-top: 1px solid gray;
   display: flex;
   padding:50px 0;
   margin:  0 200px;
   column-gap: 150px;
   justify-content: start;
   align-items: start;
}
.list ul{
    list-style-type: none;
    color:gray;
    li{
        padding:10px 0;
    }
}




@media (max-width: 600px) {
.banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0; 
    padding:0;
    h1{
        width:400px;
        font-size: 40px;
    }
    p{
        width: 400px;
        font-size: 16px;
    }
}

.innovation{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding:0;
}

.innovation-img img{
    width: 100%;
}
.innovation-text{
    padding:20px;
    margin: 0;
     clip-path: polygon(
    0% 0%,     /* top-left */
    100% 0%,   /* top-right */
    100% 100%, /* bottom-right */
    0% 100%    /* bottom-left */
  );
}
.models{
     flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding: 20px;

}
.alternative-fuel{
     flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding:0;

}
.fuel-text{
     padding:40px;
      clip-path: polygon(
    0% 0%,     /* top-left */
    100% 0%,   /* top-right */
    100% 100%, /* bottom-right */
    0% 100%    /* bottom-left */
  );

}
.fuel-image img{
    width: 100%;
    height:auto;
}
.technology{
   flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 20px;
    margin: 0;
    padding:0;


}
.Durability{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding:0;


}
.Durability-text{
    margin: 0;
    padding: 20px;
    clip-path: polygon(
    0% 0%,     /* top-left */
    100% 0%,   /* top-right */
    100% 100%, /* bottom-right */
    0% 100%    /* bottom-left */
  );

}
.Durability-img img{
    width: 100%;
}
.history{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0;
    padding:0;

}
.history-text{
    width: 500px;
    padding: 20px;
    p{
        width: 400px;
        font-size: 16px;
    }
    h4{
        width: 400px;
        font-size: 20px;
    }
}
.about-us{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top:100px;
    align-items: center;
   
    p{ 

        width: 400px;
    }
}
.about-image img{width: 500px;}

footer{
    background-color: gainsboro;
    padding-top: 50px;
}
.footer-options{
    border-top: 1px solid gray;
   display: flex;
   padding:10px;
   margin: 0;
   row-gap:20px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: start;
}
.list ul{
    list-style-type: none;
    color:gray;
    li{
        padding:10px;
    }
}

}