*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 100px;
}
.logo{
    align-items: center;
    display: flex;
}
.title{
    font-size: 30px;
    color: blue;
    font-weight: 501;
}
.nav a{
    text-decoration: none;
    color: black;
    padding:10px;
    font-size: 20px;
    font-weight: bolder;

}
.nav a:hover{
    color:orange;
    border-bottom: 2px solid orange;
}
.hero-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(94, 94, 217);

}
.hero-content{
    width: 450px;
    h3{
        font-size: 20px;
        color: white;
    }
    h1{
        font-size: 60px;
        color:white;
    }
    p{
        color: white;
    }
    a{
        color: white;
    }
}

.hero-button{
    color:white;
    margin-top:20px;
    button{
        padding: 10px;
        border-radius: 5px;
        background-color: orange;
    }

}
.btn-tex{
    display:inline-block;
    margin-left:18px;
    font-weight: bold;
    width: 150px;
    height: 100px;
    align-items: center;
}
.orange-text{
    color: orange;
    font-size: 25px;
}

.servers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    padding: 20px;
    
}
.server-list{
    text-align: center;
    margin-top: 20px;
    h1{
        font-size: 40px;
    }
}
.server{
    background-color: orange;
    padding: 20px;
    color: white;
    width: 250px;
    text-align: center;
    h3{
        font-size: 30px;
        margin-top: 10px;

    }
    p{
        font-size: 20px;
        margin-top: 20px;
        color: gainsboro;
    }
    .fa-long-arrow-alt-down{
        color:white;
        font-size: 25px;
        margin-top: 20px;
    }

}
.text-only{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    background-color: antiquewhite;
    padding: 50px 100px;
}
.text-section{
    h3{
        color: blue;
        font-size: 25px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
    }
}
.support{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 100px;
}
.support-img img{
    height: 500px;
    width: 500pxs;
}
.support-text{
    h1{
        font-size: 50px;
        font-weight: bold;
         margin-bottom: 30px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
   
    a{
        color: black;
        font-size: 20px;
    }
}
.support-btn{
    margin-top: 20px;
   
    button{
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: orange;
    }
}

.social{
    display: flex;
    border-top: 2px solid orange;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 30px 100px;
    margin-bottom: 100px;
}
.social-icon{
    padding: 30px;
    width: 300px;

    h3{
        font-size: 30px;
        font-weight: 501;
        
    }
    p{
        margin-top: 30px;
        font-size: 25px;
        color: orange;
    }
}
.plans{
    text-align: center;
    padding: 50px;
    background-color: antiquewhite;
    h1{
        font-size: 60px;

    }
}
.plan-to-buy{
margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.buy-plan{
    background-color: white;
   width: 350px;
   padding-bottom: 30px;
    h2{
        color:white;
        background-color: orange;
        align-self: center;
        padding: 20px;
        font-weight: 400;
    }
    h1{
        font-size: 50px;
        color: blue;
        margin-top: 30px;
    }
    p{
        color: blue;
        font-size: 20px;
        margin-bottom:30px
    }
    ul{
        list-style-type: none;

    }
    li{
        color:gray;
        padding: 10px;
    }
}
.fas{
    font-size: 20px;

}
.fa-times{
    color: gray;
}
.buy-button {
        margin-top: 30px;
        padding:10px 30px;
        background-color: blue;
        font-size: 20px;
        border: none;
        
        border-radius: 5px;
        color: white;
    
}
.buy-button:hover{
    color: black;
}

.migrate-server{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.migrate-text{
    margin-left:100px;
    width: 550px;
    h1{font-size: 60px; line-height: 50px; }
    p{font-size:20px; line-height: 35px; margin-top: 30px;}
    a{color:black;}
}
.migrate-btn{
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: orange;
    color: white;

}
.migrate-img {
    img {
        height: 600px;
        width: 700px;
    }
}

.comment-section{
    text-align: center;
    padding:30px;
    background-color: antiquewhite;
    h1{
        font-size: 50px;
    }
}

.comments{
    margin:30px 100px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items:center;
}
.comment{
    background-color: white;
    padding:20px 40px;
    position: relative;
    p{
        line-height: 25px;
        font-size: 20px;
    }
    h2{
        margin-top: 30px;
        padding-top: 20px;
        margin-bottom: 40px;
        border-top: 2px solid orange;
        color: orange;

    }
}
.comment-btnl{
    position: absolute;
    font-family: 20px;
    padding: 10px;
    color: white;
    background-color: orange;
    border-radius: 10px;
    left:50px;
    top:40%;
    opacity:0.8;
}
.comment-btnr{
    position: absolute;
    font-family: 20px;
    padding: 10px;
    color: white;
    background-color: orange;
    border-radius: 10px;
    right:50px;
    top:40%;
    opacity:0.8;
}

.os-servers{

    text-align: center;
    padding: 30px;
    h1{
        font-size: 50px;
    }
    p{
        margin-top: 10px;
        font-size: 20px;
    }
}
.os-systems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin-top: 40px;
    text-align: center;
}
.os{
    width: 200px;
}
.os-text{
 float: right;
 font-size: 25px;
 font-weight: bold;

}
.host{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px ;
    background-color: rgb(55, 55, 207);
    color: white;
}
.host-text{
    padding:20px;
    width: 600px;
    h1{
        font-size:50px;

    }
    p{
        font-size: 20px;
        margin-top: 20px;

    }
    a{color:white;}
}
.host-image img{
    height: 500px;
    width: 600px;
}
.host-growth{
    margin-top: 30px;
    border-top:2px solid orange;
    display: flex;
    column-gap: 20px;

    h1{
        font-size: 50px;
        color:orange;
        margin-top:40px;
    }
    h3{
        font-size: 25px;
    }
    p{
        color:gainsboro;
        font-size: 18px;
    }
}

.questions{
    text-align: center;
    margin: 50px 0;
    
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;
    }
    summary{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        width: auto;
        align-self: center;
    }
    
    .ques-ans{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        details{
            width: 100%;
            display: inline-block;
            width: 700px;
             border-bottom:2px solid orange;
             margin-top: 20px;
        }
    }

}

.bonus{
    margin:100px 200px;
    text-align: start;
    h1{
        font-size: 50px;
    }
    p{  margin-top: 20px;
        font-size: 20px;

    }
}
.input-bonus{
    margin-top: 30px;
    label{
        font-size:20px;
    }
    input{
        border: none;
        border-bottom: 1px solid black;
        width: 400px;
        padding:10px;
    }
}
.input-submit{
    display: inline-block;
    margin-left:20px;
    input{
        width: 100px;
        padding: 10px;
        border: none;
        background-color: orange;
        color:white;
    }
    
        
}
.contact-form{
    background-color: blue;
    text-align: center;
    padding:30px;
    h1{
        font-size: 50px;
        color:white;
    }
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
.contact-text{
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 0 20px;
    text-align: start;
    h2{
        font-size: 30px;
        margin-top: 10px;
        
        
    }
    a{
        text-decoration:none;
        color:orange;
    }
    a:hover{
        color:blue;
    }

}
.tag-text{
  display: inline-block;
  padding:30px 0;  
  border-bottom: 1px solid black;
}

.help-form{
    text-align: start;
    height: 400px;
    width: 600px;
    background-color: white;
    padding: 10px;
    color: black;

    h1{
        color:black;
    font-size:50px;
    }
    input {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border:none;
        border-bottom: 1px solid black;
        margin: 20px 0;
    }
    
}
.footer-section{
    padding:100px;
    text-align: center;
    background-color: rgb(21, 21, 121);
    color: white;
}
.footer-contact{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin:20px 40px;
    padding: 30px;
    border-bottom: 1px solid white;


}
.footer-icons{
    a{
        color:white;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline;
    }

}
.fa-map-marker-alt , .fa-phone , .fa-comment-alt , .fa-envelope{
    font-size: 50px;
    margin-bottom: 30px;
    display: block;
    background-color: rgb(21, 21, 121);
    color:white;
}
.footer-logo{
    display: flex;
    column-gap: 50px;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
.footer-title{
    width: 500px;
    .title{
        color:white;
        font-size: 50px;
        margin-left:10px;
        }
        h3{
            color:white;
            font-size: 25px;
        }
        p{
            color:white;
            font-size: 18px;
            margin-top:20px;
        }
        a{
            color:white;
        }
}
.footer-list{
    width: 500px;
    margin-bottom:80px;
    color:white;
    h2{
        font-size: 40px;
         border-bottom:1px solid white;
         padding:20px 0;
         margin-bottom: 20px;

    }
    ul{
        list-style-type:none;
       
    }
    li{
        padding:10px 0;
    }
    li a{
        color:white;
        text-decoration: none;
        
    }
    li a:hover{
        text-decoration:underline;
        color: gainsboro;
    }
}





@media (max-width: 576px) {
    .hero-content h1 { font-size: 32px; }
    .hero-content p { font-size: 16px; }
    
    .server { max-width: 100%; }
    .header-section{
        flex-direction: column;
        row-gap: 20px;
    }
    .hero-banner{
        flex-direction: column;
    }
    
    .footer-contact {
        flex-direction: column;
        gap: 40px;
    }
    .servers{
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
    .support{
        flex-direction: column;
    }
    .social{
        flex-direction: column;
    }
    .migrate-server{
        flex-direction: column;
    }
    .migrate-text{
        width: 100%;
        overflow: scroll;
    }
    .comments{
        flex-direction: column;
    }

    .host{
        flex-direction: column;
    }
    .host-text{
        width: 100%;
    }
    .questions .ques-ans details {
        width: 100%;
    }
    .os-systems{
        grid-template-columns: repeat(2, 1fr);
    }

    .bonus {
        margin: 40px 20px;
    }
   
    
    .input-bonus input , textarea{
        width: 100%;
    }
 .contact{
    flex-direction: column;
    row-gap: 20px;
 } 
 .help-form{
    width: 100%;
 }
 .footer-logo{
    flex-direction: column;
 }
 img{width: 100%;}
 .input-submit {
        margin-left: 0;
        margin-top: 15px;
        display: block;
    }
}